
.btn1{
       background-color: red;
       border:none;
       padding:3px 8px;
}

.btn2{
    background-color: white;
    border:1px solid grey;
    padding:3px 8px;

}


.btn3{
    background-color: white;
    border:1px dotted grey; 
    padding:3px 8px;
}
